<head>
<link rel="shortcut icon" href="/static/icon.ico">
<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Welcome!</title>

        <link rel="stylesheet"
        href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">

<style>
body{
        wWidth  = $window.width();
        wHeight = $window.height();
	width:500px;
	height:150px;
	position:relative;
	left:40%;
	top:20%;
	margin:-70px 0 0 -135px;
}
section{
  font-weight: normal;
  font-family: 'Catull', serif;
  font-size:34px;
  line-height: 38px;
  text-shadow: 0 2px white, 0 3px #777;
}
.button-submit{
        color: white;
        border-radius: 4px;
        background: rgb(70, 130, 240);
        }
</style>
</head>
<body>
<center>
<section>
  <h1> <font color="#0266C8">W</font>
    <font color="#00933B">h</font>
    <font color="#F90101">o</font>
    <font color="#F2B50F">o</font>
    <font color="#0266C8">g</font>
    <font color="#00933B">l</font>
    <font color="#F90101">e</font></h1>
</section>

<form name="input" class="pure-form" action="/who" method="POST">
 <input type="text" class="pure-input-rounded" name="query" placeholder="Who">
 <br><br>
<input type="submit" value="Submit" class="button-submit pure-button">
</form>
</center>

<center>
  <section>
<h1> <font color="#0266C8">W</font>
  <font color="#00933B">h</font>
  <font color="#F90101">e</font>
  <font color="#F2B50F">n</font>
  <font color="#0266C8">g</font>
  <font color="#00933B">l</font>
  <font color="#F90101">e</font></h1>
</section>
<form name="input" class="pure-form" action="/when" method="POST">
 <input type="text" class="pure-input-rounded" name="query" placeholder="When">
 <br><br>
<input type="submit" value="Submit" class="button-submit pure-button">
</form>
</center>
</body>
