<head>
  <link rel="shortcut icon" href="/static/icon.ico" />
  <style>
  section {

        border-radius: 10px;
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
        width: 500px
        background: #D3D3D3;
        color: black;
    }
    .title{
      color: #343434;
      font-weight: normal;
      font-family: 'Garamond', serif
      font-size:30px;
      line-height: 32px;
      text-shadow: 0 2px white, 0 3px #777;
    }
  </style>
</head>

<div class="title">
<center>
<h1>     The answer is...   </h1>
</center>
</div>

<section>
<h1> {{M}} </h1>
{{common[0]}}
</section>
